body{
                font-family: "Comic Sans MS", cursive, sans-serif;
                background-color: rgba(217, 212, 212, 1);
}

.container {
                background-image:   linear-gradient(90deg,rgba(237, 250, 0, 1) 25%, rgba(51, 255, 48, 1) 94%, rgba(217, 212, 212, 1) 100%);
                background-size: cover;
                min-height: 100vh;
                max-width: 95%;
                box-shadow: -16px 15px 20px rgba(217, 212, 212, 1);
                border-radius: 40px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0 auto;
                text-align: justify;
                padding: 30px;
                line-height: 1.5;
}

h1,h2{
                font-weight: 700;
                color: #000;
                margin-bottom: 20px;
}

.esquerda {
                margin-left: -88%;

}

p {
                font-size: larger;
                font-weight: 400;
                letter-spacing: 1px;
                margin-bottom: 20px;
}

img {
                border: 10px ridge #C19A6B;
}

select {
                border-radius: 15px;
                font-size: large;
                font-family: "Comic Sans MS", cursive, sans-serif;
                background-color: rgba(255, 255, 0, 0.5);
                color: #000;
                font-weight: 700;
                padding: 15px;
                border-style: none;
                box-shadow: -16px 15px 20px rgba(217, 212, 212, 1);
                appearance: none;
                background: url(../img/arrow-down-circle-svgrepo-com.png) no-repeat right;
                background-size: 35px;
                cursor: pointer;
}

.dinamico {
                display: none;
}

.aparecer {
                display: flex !important;
}

.portugol{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                margin-right: 80px;
}

.javascript{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
}

#btn-executar{
                display: none;
                border-style: none;
                font-size: 18px;
                font-weight: 700;
                border-radius: 15px;
                background-color: rgba(51, 255, 48, 1) ;
                box-shadow: -16px 15px 20px rgba(217, 212, 212, 1);
                padding: 20px;
                margin-top: 24px;
                margin-bottom: 0px;
                cursor: pointer;
}